.card {
  margin-bottom: var(--spacingExtraTight);
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  .thumb {
    margin-bottom: var(--spacingExtraTight);
    position: relative;
    .image {
      background-size: cover;
      background-position: center;
      background-color: #eee;
      animation: skeletonAnimation 0.8s linear infinite alternate;
      border-radius: var(--radiusLarge);
      padding-top: 75%;
      width: 100%;
      will-change: opacity;
    }
    svg {
      color: rgba(255, 255, 255, 0.4);
      bottom: 1.5rem;
      right: 1.5rem;
      position: absolute;
      height: 36px;
      width: 36px;
    }
  }
  h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
  }
}
