$header-height: 7rem;

.header {
  display: flex;
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacingBase);
  .nav {
    display: flex;
    .logo {
      font-size: 2.2rem;
      font-weight: 700;
      position: relative;
      margin-right: var(--spacingLoose);
    }
    .navItem {
      display: flex;
      align-items: center;
      font-weight: 600;
      &:not(:last-of-type) {
        margin-right: var(--spacingExtraTight);
      }
      @media (min-width: 401px) {
        &:not(:last-of-type) {
          margin-right: var(--spacingBase);
        }
      }
    }
  }
}
